header {
	background: url(../img/1.jpg) no-repeat center top / cover;/*фоновая картинка неподвижная на весь экран*/
	background-attachment: fixed; /*прокручивание фона отключено*/
	width: 100%; /*ширина*/
    height: 120vh; /*высота*/
}
body{
    padding: 0;/*внутрений отступ*/
    margin: 0;/*внешние отступы*/
    font-family: Arial, Helvetica, sans-serif;/*Стиль шрифта*/
}
.fixed1{
    margin: -65px;/*внешние отступы*/
    border-bottom: 2px solid #757575;/*граница снизу*/
}

.container {
	max-width: 1024px;/*ширина*/
    margin: 0 auto;/*внешние отступы*/    
}

.logo {
    width: 67px;/*ширина*/
    height: 67px;/*высота*/
    background-color: #11749e;/*цвет фона*/
    box-shadow: 10px 10px #fff;
    margin-top: 20px;/*внешние отступы*/
    float: left;/*расположение объекта на странице*/
    margin-left:20px;/*внешние отступы*/
}
    .logo p{
        font-size: 1.875em;/*размер объекта*/
        color: #fff;/*цвет*/
        padding: 17px 12px;/*внутрений отступ*/
        margin: 0px 0px;/*внешние отступы*/
    }
    .socials {
        float: right;/*расположение объекта на странице*/
        margin-top: 22px;/*внешние отступы*/
        padding: 20px;/*внутрений отступ*/
        font-size: 0.95em;/*размер объекта*/
        margin-right: 10px;/*внешние отступы*/
    }
    .socials i{
        padding:0 10px;/*внутрений отступ*/
    }
    .socials a:hover i{
        color: #11749e;/*цвет*/
    }

nav{
    float: right;   /*расположение объекта на странице*/
}
nav ul {
    display: block;/*как элемент должен быть показан в документе(показывается как блочный)*/
    padding: 0;/*внутрений отступ*/
    margin: 0;/*внешний отступ*/
    
}

nav li{
    float: left;/*расположение объекта на странице*/
    display: block;/*как элемент должен быть показан в документе(показывается как блочный)*/
    text-decoration: none;/*подчеркивание убрали*/
    padding: 50px 0px;/*внутрений отступ*/
}

nav li a{
    padding: 65px 15px;/*внутрений отступ*/
    font-weight: 500;
    color: #fff;/*цвет*/
    font-size: 1.25em;/*размер объекта*/
    text-decoration: none;/*подчеркивание убрали*/
}
nav li a:hover{
    border-bottom: 6px solid #11749e;/*нижнее подчерикание при наведении*/
}

.slide {
    margin-top: 35vh; /*Отступ cверху*/
    text-align: center;/*расположение текста*/
    color: white;/*цвет*/
}
.slide h2 {
    font-size: 9.75em;/*размер объекта*/
    text-transform: uppercase;/*Большие буквы*/
    font-weight: 600; /*Жирность*/
    margin-bottom: 20px;/*Отступ снизу*/
}
.slide p {
    font-size: 1.5625em;/*размер объекта*/
    color: #11749e;/*цвет*/
    text-transform: uppercase;/*Большие буквы*/
    letter-spacing: 20px;/*Разбег между буквами*/
    padding-left: 20px;/*Отступ слева*/
    margin-bottom: 220px;/*Отступ снизу*/
}
.scroll {
    margin: 0 auto;/*центрировать*/
}
.scroll span { 
    font-size: 0.8em;/*размер объекта*/
}
.scroll i{
    display: block;/*как элемент должен быть показан в документе(показывается как блочный)*/
    padding: 20px;/*внутрений отступ*/
    border: 1px solid;/*граница*/
    border-radius: 50%;/*радиус округления*/
    width: 20px;/*ширина*/
    height: 20px;/*высота*/
    margin: 20px auto;/*внешний отсуп сверху и центрирование*/
}
.scroll a:hover i{
    border-color: #11749e;/*цвет границы*/
    color: #11749e;/*цвет*/
}

.about{
    height:100vh;/*высота*/
    background-color: #11749e;/*цвет фона*/
    text-align: center;/*расположение текста*/
    color: #fff;/*цвет шрифта*/
    padding-top: 20px;/*отступ сверху*/
}

.heading span{
    font-size: 18.125em;/*размер объекта*/
    opacity: 0.1;/*прозрачность*/
    font-weight: bold; /*стиль ширфта*/
    font-stretch: condensed;/*узость начертания*/
}
.heading h2{
    font-size: 2.3125em;/*размер объекта*/
    text-transform: uppercase; /*Большими буквами*/
    margin: -160px 0 80px 0;/*внешние отступы*/
}

.features{
    margin-top: 100px;/*внешние отступы сверху*/
}

.feature {
    float: left;/*расположение объекта на странице*/
    width: 25%;/*ширина объекта*/
}

.feature-img {
    border-radius: 50%;/*радиус округления*/
    background-color: rgba(255, 255, 255, 0.2);/*цвет фона*/
    width: 150px;/*ширина объекта*/
    height: 150px;/*высота объекта*/
    margin: 0 auto;/*центрировать*/
}

.feature-img img{
    padding: 55px;/*внутренние отступы*/
}

.feature-img:hover{        
    opacity: 0.5;/*уровень прозрачности*/
}

.feature h3{
    font-size: 1.125em;/*размер объекта*/
    padding: 20px;/*внутренние отступы*/
}

.feature p{
    text-align: center;/*расположение текста*/
    margin: 0 7%;/*внешние отступы*/
}

.left{
	float:left; /*расположение объекта на странице*/
	width:50%; /*ширина*/
}	
.right{
	float:right;/*расположение объекта на странице*/
	width:50%;/*ширина*/
}
.news .left, .news .right{
    background-color: #222;/*цвет фона*/
	color: #fff;/*цвет*/
    height: 450px;/*высота*/
}
.news .right{
	background-color: #f3f3f3;/*цвет фона*/	
    color:#000;/*цвет*/
}
.news .news-img1{
	width: 100%;/*ширина*/
	height: 100%;/*высота*/
	background:url('../img/news-2.jpg') no-repeat;/*фоновая картинка без повторений*/
	background-size: cover;/*на всю область*/
}
.news .news-img2{
    width: 100%;/*ширина*/
	height: 100%;/*высота*/
	background:url('../img/news-1.jpg') no-repeat;/*фоновая картинка без повторений*/
    background-size: cover;/*на всю область*/
}
.news-txt{
    width: 90%;/*ширина*/
    margin: 0 auto;/*внешние отступы*/
	padding-top: 80px;/*внутренние отступы*/
	padding-bottom: 80px;/*внутренние отступы*/
	padding-left: 2%;/*внутренние отступы*/
   	padding-right: 2%;/*внутренние отступы*/
}
.news h2{
	font-size: 1.5625em;/*размер*/
	margin:10px 0;/*внешние отступы*/
}
.news .date, .news .section {
	display: inline-block;/*как элемент должен быть показан в документе(показывается как в линию блок)*/
	font-size: 0.75em;/*размер*/
	font-style: italic;/*стиль*/
	margin-right: 10px;/*внешние отступы*/
}
.news .section{
	border-left: 1px solid ;/*нижняя граница*/
    padding-left: 10px;/*внутренние отступы*/
}
.news p{
    margin-top: 30px;/*внешние отступы*/
    line-height: 2;/*Устанавливает межстрочный интервал текста*/
    height: 210px;/*высота*/
}
.news-txt p a{
    padding: 65px 30px;/*внутрений отступ*/
    font-weight: 500;
    color: #fff;/*цвет*/
    font-size: 1.25em;/*размер объекта*/
    text-decoration: none;/*подчеркивание убрали*/
}

.right p a{
    padding: 65px 30px;/*внутрений отступ*/
    font-weight: 500;
    color: rgb(12, 12, 12);/*цвет*/
    font-size: 1.25em;/*размер объекта*/
    text-decoration: none;/*подчеркивание убрали*/
}

.news-txt p a:hover{
    color: rgb(105, 17, 17);/*цвет*/
}

.blogs{
    text-align: center;/*расположение текста*/
    padding-top: 50px;/*отступ сверху*/
    background-color: #fff;/*цвет фона*/
    height:130vh;/*высота*/
    padding-bottom: 5%;/*отступ снизу*/
}
.blogs .heading h2 {
    font-size: 2.5em;/*Размер*/
    text-transform: uppercase;/*Большими буквами*/
    margin: -190px 0 123px 0;/*внешний отступ*/
}

.blogs .heading h3 {
    font-size: 1.9em;/*Размер*/
    font-stretch: condensed;/*узость начертания*/
    letter-spacing: 3px;/*Определяет интервал между символами в пределах элемента*/
    padding: 2% 1% 0 1%;/*внутрений отступ*/
}

    
.blog{
    display: flex; /*как элемент должен быть показан в документе(показывается как в линию блок)*/
    justify-content: space-around; /*Работает только с флекс распределяет пространство вокруг флекс-элементов*/
}

.blog-section {
    float: left; /*расположение объекта на странице*/
    width: 23%;/*ширина*/
    margin: 50px 5px 0 5px;/*внешний отступ*/
}

.blog-section:hover{
    box-shadow: 0 0 10px -1px #11749e; /*Добавляет тень к элементу*/
}
.blog-section h3{
    font-size: 1.125em;/*размер*/
    padding: 20px 0;/*внутрений отступ*/
    color:#11749e;/*цвет*/
    text-transform: uppercase;/*Большими буквами*/
}
.blog-section p{
    text-align: center;/*центрирование */
    line-height: 1.5;/*Устанавливает межстрочный интервал текста*/
    margin:0 10px;/*внешний отступ*/
    height: 200px;/*высота*/
    overflow: hidden;/*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
    color: #222;/*цвет*/
}
.blog-img {
    height: 300px;/*высота*/
    margin: 0 auto;
    float: top;
    position: top;
    vertical-align: middle;
    overflow: hidden ;/*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
}
.quick{
    padding: 70px 0;
    background-color: #11749e;
    color: #fff;
    overflow: hidden;/*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
}
.quick img{
    width: 72px;
    height: 72px;
    padding: 10px;
    padding: 50px 10px;
}
.quick .quick-action{
    float: left;/*расположение объекта на странице*/
    width: 100%;
}
.quick-action p{
    display: inline-block;
    width: 70%;
    padding: 0 10px 80px;
    height: 60px;
    overflow: hidden;
    letter-spacing: 1.5px;
    line-height: 1.8;
}

.key-feature {
    background: url('../img/2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;/*будет ли прокручиваться фоновое изображение вместе с содержимым элемента*/
    height: 600px;
    width: 100%;
    color: #fff;
}

.key-feature .text{
    margin-top: 20%;
    width:40%;
}
.key-feature h2{
    font-size: 1.5625em;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.key-feature p{
    line-height: 1.6;
}
.key-feature img{
    padding-top: 9%;
    padding-left: 20%;
}
.key-link {
    margin-top: 40px;
}
.key-link a{
    color: #fff;
    background-color: #11749e;
    padding: 10px 150px 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inherit;/*наследовать значение свойства у родительского элемента*/
    width: 50%;
}
.key-link a:nth-child(2) {
    width: 60%;
}
.key-link a:nth-child(3) {
    width: 70%;
}
.key-link a:hover{
    filter: opacity(0.7);
}

.our-team{
    text-align: center;
    padding-top: 50px;
    background-color: #fff;
    height:600px;
}

.our-team .heading h2 {
    margin: -180px 0 100px 0;
}
.our-team .heading h3 {
    font-size: 2.1875em;
    font-stretch: condensed;/*Устанавливает узкое, нормальное или широкое начертание шрифта, что позволяет уплотнять или расширять текст.*/
    letter-spacing: 2px;
    padding: 2% 1% 0 1%;
}
.team-section {
    float: left;
    width: 24%;
    margin-top: 50px;
    margin-right: 10px;
}
.team-section:last-child {
    margin-right: 0;
}
.team-img {
    height: 410px;
    overflow: hidden;
}
.team-img img{
    left: -40px;
    position: relative;
}
.team-section:nth-child(2) img{
    left: -60px;
    top: -60px;
}

.team-txt {
    background-color:#fff;
    position: relative;
    top: -40px;
    width: 80%;
    margin: 0 auto;
}
.team-section h4 {
    font-size: 1.25em;
    padding: 20px 0 10px 0;
    color: #11749e;
    text-transform: uppercase;
}
.team-section p{
    font-weight: bold;
}

.contacts{
    background: url('../img/3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1050px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top:10px;
}
form{
    margin-top: 100px;
}
.contacts .heading h2{
    margin: -235px 0 180px 0;
}
.contacts .heading {
    font-weight: 500;
    color: #fff;/*цвет*/
    font-size: 1.25em;/*размер объекта*/
}
.contacts .heading p a{
    padding: 65px 15px;/*внутрений отступ*/
    font-weight: 501;
    color: #fff;/*цвет*/
    font-size: 1.25em;/*размер объекта*/
    text-decoration: none;/*подчеркивание убрали*/
}
.contacts textarea{
    margin: 0 auto;
    display: block;
    width:95%;
    background-color: transparent;
    border: 1px solid #fff;
    padding:20px;
    color: #fff;
    font-weight: bold;
}
.contacts .form input {
    padding: 15px 20px;
    background-color: transparent;
    width:100%;
    border: 1px solid #fff;
    margin-right: 30px;
    color: #fff;
}
.contacts .form input:last-child {
    margin-right: 0;
}
.form{
    display: flex;
    justify-content: space-between;/*Работает только с флекс распределяет пространство вокруг флекс-элементов*/
    margin-bottom: 40px;
}
.form input:focus, textarea:focus {
    outline: none;
    border: 1px solid #11749e;
}
.submit{
    color: #fff;
    background-color: #11749e;
    font-size: 1.5em;
    padding: 20px 60px;
    margin-top: 40px;
    border:none;
    cursor: pointer;
}


.map-box{
    width:100%;
    height: 400px;
    overflow: hidden;
}
.map {
    background-size: cover;
    width:100%;
    height: 100%;
    padding: 10px;
    margin-top: -10px;
}
.map iframe{
    width: 100%;
}
footer{
    background-color: #222;
    color: #fff;
    overflow: hidden;
    padding: 50px 0;
}
footer .container {
    position: relative;
}
footer .right img{
    position:absolute;
    right: 0;
    top: -10px;
}